<style>

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #D8D8D8;
  stroke-width: 1px;
}

#circle:hover path.fade {
  display: none;
}

.header {
  text-align: center;
  border-bottom: solid;
  padding: 10px;
  margin-bottom: 10px;
  font-family: century gothic, sans-serif;
}

.svg-container {
  margin-left: 100px;
  width: 620px;
  display: inline;
  float: left;
  padding-bottom: 100px;
}

.description {
  display: inline;
  width: 300px;
  text-align: justify;
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  line-height: 1.5;
}

.description h3 {
  font-family: century gothic, sans-serif;
}

.description p {
  font-family: garamond;
}
</style>

<h1 class="header">Pace Ridership Visualization</h1>
<br><br>

<div class="svg-container"></div>

<div class="description">
  <h3>Origin-Destination Diagram</h3>
  <p>
    This graphic shows the top twenty (by ridership) Pace routes and their origin and destination pairs from April 2013. Arcs between routes show the number of riders that begin their journey at Route A and end at Route B. Hovering over a route or an arc will reveal more detailed information.
  </p>
  <p>CTA Rail and CTA Bus are included to demonstrate the large number of Pace riders migrating to CTA. The return data (CTA to Pace) is fictional, and is used merely to illustrate the chords.</p>
</div>

<!--<input type="submit" id="button" value="FadeOut"></input>
<input type="submit" id="button2" value="FadeIn"></input>
<p id="chart"></p>-->