<style>

.group {
  cursor: pointer;
}

#CTA, #rt7 {
  cursor: default;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #D8D8D8;
  stroke-width: 1px;
}

#circle:hover path.fade {
  display: none;
}

.header {
  text-align: center;
  border-bottom: solid;
  padding: 10px;
  margin-bottom: 10px;
  font-family: century gothic, sans-serif;
}

.svg-container, .sankey-container {
  margin-left: 100px;
  width: 620px;
  display: inline;
  float: left;
  padding-bottom: 50px;
}

.description {
  display: inline;
  width: 300px;
  text-align: justify;
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  line-height: 1.5;
}

.description h3 {
  font-family: century gothic, sans-serif;
  padding-bottom: 15px;
}

.description p {
  font-family: garamond;
}

.cta-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:century gothic, sans-serif;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:40px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  cursor: pointer;
}

.cta-btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

.cta-btn:active {
  position:relative;
  top:1px;
}

.route-description {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
</style>

<h1 class="header">Pace Ridership Visualization</h1>
<br><br>

<div class="svg-container"></div>
<div class="sankey-container" id="sankey-208"></div>
<div class="sankey-container" id="sankey-215"></div>
<div class="sankey-container" id="sankey-223"></div>
<div class="sankey-container" id="sankey-250"></div>
<div class="sankey-container" id="sankey-270"></div>
<div class="sankey-container" id="sankey-290"></div>
<div class="sankey-container" id="sankey-301"></div>
<div class="sankey-container" id="sankey-307"></div>
<div class="sankey-container" id="sankey-311"></div>
<div class="sankey-container" id="sankey-318"></div>
<div class="sankey-container" id="sankey-322"></div>
<div class="sankey-container" id="sankey-349"></div>
<div class="sankey-container" id="sankey-352"></div>
<div class="sankey-container" id="sankey-353"></div>
<div class="sankey-container" id="sankey-359"></div>
<div class="sankey-container" id="sankey-364"></div>
<div class="sankey-container" id="sankey-379"></div>
<div class="sankey-container" id="sankey-381"></div>
<div class="sankey-container" id="sankey-606"></div>

<div class="description">
  <span class="chord-description">
    <h3>Origin-Destination Diagram</h3>
    <p>
      This graphic shows the top twenty (by ridership) Pace routes and their origin and destination pairs from April 2013. Arcs between routes show the number of riders that begin their journey at Route A and end at Route B. Hovering over a route or an arc will reveal more detailed information.
    </p>
    <p>CTA Rail and CTA Bus are included to demonstrate the large number of Pace riders migrating to CTA. The return data (CTA to Pace) is fictional, and is used merely to illustrate the chords.</p>
  </span>
  <span class="route-description" id="route-208">
    <h3>Pace 208</h3>
    <p>
      Route 208 provides daily service from Evanston to Schaumburg. Service operates via Golf Road from Davis Street CTA Purple Line/Metra Station to the Pace Northwest Transportation Center. This route serves the following major destinations: Evanston Township High School, Westfield Shoppingtown Old Orchard, Kraft, Four Flags, Golf Mill, Oakton Community College, Metra UP Northwest Line stations (Golf, Cumberland, and Des Plaines), Pace Headquarters, Continental Towers, Meadows Corporate Center, Centennial Center, 3 COM, Hyatt, Woodfield Mall, and Streets of Woodfield.
    </p>
  </span>
  <span class="route-description" id="route-215">
    <h3>Pace 215</h3>
    <p>
      Route 215 provides service between Westfield Old Orchard, Rush North Shore Medical Center, and the Howard Street CTA Station (Red, Purple, and Yellow Lines) operating via Golf Road, Crawford Avenue, and Howard Street. This route acts as a commuter service route to the Rapid Transit Station for commuters going to and from the City of Chicago.
    </p>
  </span>
  <span class="route-description" id="route-223">
    <h3>Pace 223</h3>
    <p>
      Route 223 provides service between Elk Grove Industrial area, United Airlines Reservation Center, and the Rosemont CTA Blue Line Station.
    </p>
  </span>
  <span class="route-description" id="route-250">
    <h3>Pace 250</h3>
    <p>
      Route 250 links downtown Evanston to the Des Plaines Metra station via Dempster and then south to the O'Hare Kiss-n-Fly ATS Station. Service along this line includes the Davis Street CTA Station (Purple Line), the Skokie Swift CTA Station (Yellow Line), Notre Dame and Main East High Schools, and Lutheran General Hospital.
    </p>
  </span>
  <span class="route-description" id="route-270">
    <h3>Pace 270</h3>
    <p>
      Route 270 provides north-south service between Golf Mill and the Jefferson Park CTA Blue Line Metra Station via Milwaukee Avenue. Stops include Oak Mill Mall, Notre Dame High School, Golf Mill Mall, and Heritage Pointe Apts. Certain weekday trips serve AON Service Corp. and certain weekday and Saturday trips are extended to Glenbrook Hospital and the surrounding area.
    </p>
  </span>
  <span class="route-description" id="route-290">
    <h3>Pace 290</h3>
    <p>
      Route 290 provides east-west service between the Howard Street CTA Station (Red, Purple, and Yellow Lines) via Touhy Avenue. It serves Park Ridge, Niles, Skokie, Lincolnwood, Park Ridge and Cumberland CTA Stations, the Lincolnwood Town Center, Village Crossing, and the Rogers Park area of Chicago.
    </p>
  </span>
  <span class="route-description" id="route-301">
    <h3>Pace 301</h3>
    <p>
      Route 301 provides weekday service between the CTA Blue Line Forest Park Transit Center and the Metra UP-West Line Wheaton Station. Certain weekday rush hour trips serve the DuPage County Judicial Center. Saturday and Sunday service operates between the CTA Blue Line Forest Park Transit Center and Oakbrook Center in Oak Brook. This route serves the CTA Blue Line Forest Park Transit Center, Riveredge Hospital, Proviso Math and Science Academy, Madden Mental Health Center, Hines V.A. Hospital, Proviso West High School, Pace Park-n-Ride Hillside, Elmhurst Memorial Hospital – Main Campus, Oakbrook Center, the Metra UP-West Line Wheaton Station, and the DuPage County Judicial Center.
    </p>
  </span>
  <span class="route-description" id="route-307">
    <h3>Pace 307</h3>
    <p>
      Route 307 provides daily service between the Elmwood Park Village Hall and 63rd/Archer in Summit. It serves the Metra MD-West Line Elmwood Park Station, Concordia University, CTA Green Line Harlem Station, CTA Blue Line Harlem Station (Forest Park Branch), Oak Park Hospital, Morton West High School, and the Metra BNSF Line Harlem Station.
    </p>
  </span>
  <span class="route-description" id="route-311">
    <h3>Pace 311</h3>
    <p>
      Route 311 provides weekday and Saturday service between North/Narragansett in Chicago and 47th/Lawndale in Lyons. Sunday service operates between Harlem/North in Oak Park and 47th/Lawndale in Lyons. It serves the CTA Green Line Oak Park Station, CTA Blue Line Oak Park Station, Metra BNSF Line Berwyn Station, and MacNeal Hospital.
    </p>
  </span>
  <span class="route-description" id="route-318">
    <h3>Pace 318</h3>
    <p>
      Route 318 provides daily service between the CTA Blue Line Forest Park Transit Center and North/Wolf in Northlake. It serves the CTA Blue Line Forest Park Transit Center, CTA Green Line Harlem Station, Concordia University, Maywood Park Race Track, Gottlieb Hospital, Kindred Hospital, and Northlake Commons.
    </p>
  </span>
  <span class="route-description" id="route-322">
    <h3>Pace 322</h3>
    <p>
      Route 322 provides daily service between the CTA Pink Line 54th/Cermak Station in Cicero and Yorktown Center in Lombard. It serves the CTA Pink Line 54th/Cermak Station, Morton West High School, North Riverside Park Mall, Broadview Village Square Shopping Center, Immaculate Heart of Mary High School, St. Joseph High School, Oakbrook Center, and Yorktown Center.
    </p>
  </span>
  <span class="route-description" id="route-349">
    <h3>Pace 349</h3>
    <p>
      Route 349 provides daily service between the Pace Harvey Transportation Center and 79th/Western in Chicago. The route serves Evergreen Plaza, Metra Rock Island District Blue Island / Vermont Street Station, Metra Electric Line Harvey and Blue Island Stations, Metro South Medical Center, Ingalls Memorial Hospital, and St. Rita High School as well as the communities of Harvey, Posen, Dixmoor, Blue Island, Evergreen Park, and Chicago.
    </p>
  </span>
  <span class="route-description" id="route-352">
    <h3>Pace 352</h3>
    <p>
      Route 352 is a major north-south trunk line that connects the CTA Rapid Transit Red Line at 95th Street, the center of Pace South service in Harvey, and the Chicago Heights Terminal via Halsted Street. The route connects with Metra Electric at West Pullman and Harvey Stations. This route serves the Illinois Dept. of Human Services, Prairie State College, and St. James Hospital.
    </p>
  </span>
  <span class="route-description" id="route-353">
    <h3>Pace 353</h3>
    <p>
      Route 353 provides daily service connecting the CTA Red Line 95th/Dan Ryan Station with residential areas of Riverdale, Dolton, South Holland, Thornton, Homewood, and Calumet City. This route serves the CTA 103rd/Stony Island Garage Terminal for connections to the CTA J14 Jeffery Jump to downtown Chicago, Chicago State University, Riverdale Bus Turnaround, Thornwood High School, Homewood Park-n-Ride, and River Oaks Shopping Center.
    </p>
  </span>
  <span class="route-description" id="route-359">
    <h3>Pace 359</h3>
    <p>
      Route 359 is a North/South route which operates from Homewood Metra Station to 95th Dan Ryan CTA Station. It also serves the Blue Island Metra/Electric Station, Metro South Medical Center, Markham Courthouse, South Suburban Hospital, Lydia Health Care Center, Waterford Estates, and Grenoble Square Shopping Center.
    </p>
  </span>
  <span class="route-description" id="route-364">
    <h3>Pace 364</h3>
    <p>
      Route 364 serves the major east-west cross-town arterial from Morton and Willow Court to Orland Square Mall. It serves River Oaks Shopping Center, the central pulse point of Pace South in Harvey, and various smaller centers as well as Oak Forest, St. Margaret and Ingalls Memorial Hospitals, and South Suburban College. Weekend service operates between Orland Square Mall and Hegewisch.
    </p>
  </span>
  <span class="route-description" id="route-379">
    <h3>Pace 379</h3>
    <p>
      Route 379 is major east-west crosstown route connecting Midway and Orland Square via Moraine Valley College, serving commercial and residential areas along 79th Street, 88th Avenue, 111th Street and LaGrange Road. The route serves Midway Airport, Ford City Shopping Center, St. Laurence and Queen of Peace High Schools, Moraine Valley College, Metra SouthWest Line at 143rd Street Station and Orland Square. It connects with other Pace Southwest routes at the Midway CTA Orange Line Station.
    </p>
  </span>
  <span class="route-description" id="route-381">
    <h3>Pace 381</h3>
    <p>
      Route 381 is a major east-west trunk of the Pace-Southwest system, connecting with the CTA Red Line, CTA buses, and most Pace Southwest routes. Provides service along east-west commercial artery of 95th Street. Serves Evergreen Shopping Plaza, Chicago Ridge Mall, Moraine Valley College, Advocate Christ Medical Center, Little Company of Mary Hospital, the 5th Municipal Circuit Courthouse and three Metra Stations near the Dan Ryan.
    </p>
  </span>
  <span class="route-description" id="route-606">
    <h3>Pace 606</h3>
    <p>
      Route 606 provides service between the Rosemont CTA Station and Woodfield Corporate Center, serving Woodfield Mall and business and commercial areas in Schaumburg, Arlington Heights, Rolling Meadows and Mt. Prospect. These businesses include United Airlines HQ, Pace HQ, the Illinois Department of Employment Security, Meadows Corp. Center, Hyatt Regency Woodfield, and the Northwest Transportation center. It operates via the Northwest Tollway between River Road and Elmhurst Road.
    </p>
  </span>

  <span class="cta-buttons">
    <input type="submit" class="cta-btn" id="button3" value="Show CTA"></input>
    <input type="submit" class="cta-btn" id="button4" value="Hide CTA"></input>
  </span>
  <!-- <input type="submit" id="sankey-btn" value="Show Sankey"></input> -->
  <input type="submit" class="cta-btn" id="hide-sankey-btn" value="Overview"></input>
  <!-- <input type="submit" id="some-crap" value="Some crap"></input> -->
</div>

<!--<input type="submit" id="button" value="FadeOut"></input>
<input type="submit" id="button2" value="FadeIn"></input>
<p id="chart"></p>-->